/* Import Tailwind's base styles */
@tailwind base;
/* Import Tailwind's component styles */
@tailwind components;
/* Import Tailwind's utility styles */
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
